<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

{{>header}}

<h1>${{username}}</h1>
<body>


    <!-- mian-content -->
    <div class="main-banner" id="home">
        <!-- header -->
        {{>navbar}}
        <!-- //header -->
        <!--/banner-->
        <div class="banner-info">
            <h3>World is the beautiful collection Explore it!!</h3>
            <p class="my-sm-4 my-3">We offer the most adventurous travel destination around the country. Lets Explore it together.</p>
            
        </div>
        <!--// banner-inner -->

    </div>
    <section class="blog py-lg-4 py-md-3 py-sm-3 py-3" id="blog">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
	  <h3 class="tittle text-center mb-lg-5 pb-3"> Our trending destination</h3>
        
        <div class="row">
          <div class="blog-color col-lg-4">
            <div class="blog-grid-cover">
              <div class="w3pvt-post-img">
                <img src="images/mustang.jpg" class="img-fluid" alt="">
              </div>
              <div class="blog-txt-info">
               <h4 class="mt-3"><a href="about.html">Mustang </a></h4>
                <p class="mt-lg-4 mt-3">Mustang is a beautiful district in Nepal. Its headquarters is Jomsom. Its area is 3,573 km². It sits in the the Himalayas and extends northward onto the Tibetan plateau where lies the former Lo Kingdom of Mustang.</p>
                <div class="news-date-list mt-2 text-center">
                  <div  class="d-flex justify-content-between">
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-color col-lg-4">
            <div class="blog-grid-cover">
              <div class="w3pvt-post-img">
                <img src="images/rara.jpg" class="img-fluid" alt="">
              </div>
              <div class="blog-txt-info">
                <h4 class="mt-3"><a href="about.html">Rara </a></h4>
                <p class="mt-lg-4 mt-3">Rara Lake (Nepali: रारा ताल) is the biggest and deepest fresh water lake in the Nepal Himalayas. It is the main feature of Rara National Park, located in Jumla and Mugu Districts. In September 2007, it was declared a Ramsar site, covering 1,583 ha (6.11 sq mi) including the surrounding wetland.</p>
                <div class="news-date-list mt-2 text-center">
                  <div  class="d-flex justify-content-between">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-color col-lg-4">
            <div class="blog-grid-cover">
              <div class="w3pvt-post-img">
                <img src="images/tilicho.jpg" class="img-fluid" alt="">
              </div>
              <div class="blog-txt-info">
                <h4 class="mt-3"><a href="about.html">Tilicho </a></h4>
                <p class="mt-lg-4 mt-3">Tilicho Lake is a lake located in the Manang district of Nepal, 55 kilometres (34 mi) as the crow flies from the city of Pokhara. It is situated at an altitude of 4,919 metres (16,138 ft) in the Annapurna range of the Himalayas and is sometimes called the highest lake for its size in the world</p>
                <div class="news-date-list mt-2 text-center">
                  <div  class="d-flex justify-content-between">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//blog-->

 <!--footer -->
    {{>footer}}
    <!-- //footer -->

    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p class="">© 2019 All rights reserved 
            
        </p>
    </div>
    <!-- //copyright -->



</body>

</html>
