<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

{{>header}}

<body>

    <!-- mian-content -->
    {{>navbar}}
        <!-- //header -->

    </div>




  <p id="message">
  

</p>


    <!--//main-content-->

            <div class="content-bottom">
                <form action="/login" method="post">
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input  name="email" type="text" class="form-control" placeholder="Enter Username" >
          
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input  name="password" type="password" class="form-control" placeholder="Enter Password" >
                        </div>
                    </div>
                    <div class="wthree-field">
                        <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Login</button>
                    </div>
                        </form>
   


    <!---->
     <!---->


    

	 <!--/ab -->
    {{>footer}}
    <!-- //footer -->

    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p class="">© 2019 All rights reserved 
            
        </p>
    </div>


    <script type="text/javascript" src="resources/js/jquery-3.3.0.min.js"></script>

<!-- <script type="text/javascript" src="resources/js/dashboard.js"></script> -->


<script type="text/javascript" src="resources/js/bootstrap.js"></script>

<script type="text/javascript" src="resources/js/custom.js"></script>
</body>

</html>
