<!DOCTYPE html>
<html lang="zxx">

{{>header}}

<body>

    <!-- mian-content -->
    <div class="main-banner inner" id="home">
        <!-- header -->
        {{>navbar}}
        <!-- //header -->

    </div>
    <!--//main-content-->
    <!---->
  
  <p id="message">
  

</p>
<div id="rform">




 <form action="/register" method="POST">
                        <div class="field-group">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input type="text" name="firstname"  class="form-control" placeholder="Enter Firstname" value="" >
                  
                                </div>
                            </div>
                            <div class="field-group">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input  name="lastname" type="text" class="form-control" placeholder="Enter Lastname" value="" >
                  
                                </div>
                            </div>
                            <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input  name="email" type="text" class="form-control" placeholder="Enter Email" value="" >
          
                        </div>
                    </div>
                    <div class="field-group">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input  name="phone" type="text" class="form-control" placeholder="Enter Phoneno" value="">
              
                            </div>
                        </div>
                       
                    
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input  name="password" type="password" class="form-control" placeholder="Enter Password" value="" >
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input  name="confirmpassword" type="password" class="form-control" placeholder="Enter re-type Password" value="" >
                        </div>
                    </div>
                    <div class="field-group">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input  name="age" type="text" class="form-control" placeholder="Enter Age" value="" >
                  
                                </div>
                            </div>
                    <div class="wthree-field">
                        <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Register</button>
                    </div>
                        </form>
    


 
 </div>






    <!---->
	 <!-- portfolio -->
    <!-- //popup -->
    <!--//portfolio-->

   {{>footer}}
    <!-- //footer -->

    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p class="">© 2019 All rights reserved 
            
        </p>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- //copyright -->

</body>

</html>
