.Div1{

    
    
    align-content: center;
}

.h2{
  color: black
}
.name{
    color: bisque;
    size: 25dp;
}
.div2
{
    margin-left: 40%;
    margin-bottom: 3%;
    height: 150dp;
    width: 150;
}